* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body {
    display: grid;
    font-family: Georgia, serif;
    background-color: white;
    line-height: 2;
    grid-template-areas: 
        "header" 
        "main" 
        "footer";
    min-height: 100vh;
    gap: 10px;
}

/* Header */
.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}

.NavUl {
    display: flex;
    list-style: none;
    gap: 10px;
}

.NavUl-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.isActive {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Main */
.Main {
    grid-area: main;
    padding: 1rem;
}

.Main-P {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    width: 45%;
}

.GridImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.GridImages-Img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Button {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer */
.Footer {
    grid-area: footer;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
}
